html, body {
	background-color:#AAA;
	font-size: 0px;
}
/* Start Of Header */
#container{
	width:900px;
	border: 1px solid #333;
	background-color: #FFF;
	margin: 10px auto;
	padding: 5px;
	
}
article{

	margin-right: 50px;
}
#container h3{
	font-style: italic;
}
#container h1,h3{
		color: white;
}
#container ul{
	padding-bottom: 0px;
}
header nav ul{
	order:2;
	flex:2;
	list-style: none;
}
header li a::after{
	padding-right: 5px;
	padding-left: 5px;
	content: "|";
}
header nav ul{
	padding-bottom: 0px;
	
}
header nav ul li a{
	display: inline-block;
	padding-right: 5px;
	text-decoration: none;
	font-size: 10px;
	color: #6EAFE2;
}
header nav ul li{
	display: inline;
}

header nav{
	display: flex;
	align-items: flex-end;
}

header nav ul li a:hover{
		color: orange;	
}

#amnh{
	flex:1;
	order:1;
}
#search-container{
	flex:1;
	order:3;
	padding-bottom: 5px;
}
#submit{
	margin-left: 46px;
	width: 100px;
}

#pic1{
	color: white;
	margin: 0px auto;
	width: 900px;
	height: 175px;
	background: url('Hayden/headerBackground.jpg');
}
#pic1 h1{
	font-family: verdana;
	font-weight: normal;
	font-size: 40px;
	margin-top: 0px;
	padding: 10px 10px;
	letter-spacing: 3px;
}
#pic1 h3{
	font-family: verdana;
	font-weight: lighter;
	margin: 0px;
	font-size: 12px;
	padding: 50px;
	padding-left: 640px;
}
#nav2{
	font-size: 10px;
	font-weight: bold;
	width:898px;
	border: 1px solid #333;
	
}
#nav2 li + li{
	background: url('Hayden/primaryMenuBorder.png')no-repeat top left;
}
#nav2 ul{
	margin: 0px 0px;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-around;
	padding-right: 20px;
	padding-left: 20px;
	background: url('Hayden/primaryMenuBackground.png');
}
#nav2 ul li{
	text-align: center;
	padding: 5px;
	border: none;
	flex: 1;
}
#nav2 ul li a{
	color: white;
	text-decoration: none;
	
}#nav2 ul li a:hover{
		color: orange;
	}
/* End Of Header */




/* Start of main content */
article{
	margin-left: -30px;
	
}
#home{
	font-size: 10px;
	margin: 0px;
	padding-right: -30px;
}
#aboutUs{
	padding-top: 0px;
	border-bottom: 2px #E8E8E8 solid;
}
#sizing2{
	font-size: 14px;
}
#maincontent{
	display: flex;
	font-family: verdana;
}
#nav3 ul li{
	padding: 10px;
}
#maincontent aside{
	flex: 1;
}
	#nav3{
	font-size: 10px;
	width: 80%;
	background-color: #E8E8E8;
	margin: 0px;
	}

	#nav3 ul{
		list-style-position: inside;
		margin: 0px;
		text-align: left;
		padding-top: 0px;
		padding-left: 15px;
		background: linear-gradient(to bottom, #FFF, #E8E8E8 44%, #FFF 100%);
		padding-bottom: 30px;
	}
	#nav3 ul :nth-child(1) {
		list-style-type: none;
	}
		
	#nav3 ul li{
		background: linear-gradient(to bottom, #FFF, #E8E8E8 44%, #FFF 100%);
	}
	#nav3 ul li a{
		color: black;
		text-decoration: none;
		font-weight: bold;
		background: linear-gradient(to bottom, #FFF, #E8E8E8 44%, #FFF 100%);
	}
	#nav3 ul li a:hover{
		text-shadow: 2px 2px 4px #000000;
	}
	#logo{
		color: #C9CDD0;
		border-top: 2px #E8E8E8 solid;
		font-size: 10px;
		width: 70%;
	}
	.logofloat{
		float: right;
	}
#maincontent article{
	padding: 10px 0px;
	flex: 3;
	font-size: 15px;
}
#maincontent article h1{
	font-size: 10px;

}
#pic{
	font-size: 9px;
	display: block;
	float: right;
	width: 250px;
	padding: 10px 10px;
	padding-bottom: 5px;
	border: 2px #E8E8E8 solid;
}
#maincontent a:hover{
		color: orange;
		}
a{
	color: #0066BC;
	text-decoration: none;
	font-weight: bold;
}

/* end of main content */



/* Starting of footer */
#sizing{
	border-bottom: 2px #E8E8E8 solid
}
footer ul{
	display: inline-block;
	padding-right: 5px;
	text-decoration: none;
	font-size: 10px;
	color: #6EAFE2;
}
footer nav ul li::after{
	content: "|";
	padding-right: 5px;
	padding-left: 5px;
	color: #000;
}
footer{
	font-size: 10px;
	text-align: center;
}
footer a{
	text-decoration: none;
}
footer p{
	 	color: #C9CDD0;
		font-weight: bold;
}
footer nav ul li{
	display: inline;

}
footer nav ul li a{
	text-decoration: none;
}
#copy{
	margin: 0px 0px;
	padding: 0px 0px;
}
#lastnav ul{
		list-style: none;
}
#lastnav ul li{
	padding-top: 15px;
	padding-bottom: 15px;
}
#lastnav ul li a{
	font-size: 15px;
	text-decoration: none;
}
footer a:hover{
		color: orange;
}
#map::before{
	content: "|";
	padding-right: 5px;
	padding-left: 5px;
	color: #000;
}
/*ending of footer */






